# replace VARs in <...>
# webcam backend
apiVersion: apps/v1
kind: Deployment
metadata:
  name: test-repo-wc-streamer-backend-deployment
  namespace: webcam
spec:
  replicas: 1
  selector:
    matchLabels:
      app: test-repo-wc-streamer-backend
  template:
    metadata:
      namespace: webcam
      labels:
        app: test-repo-wc-streamer-backend
    spec:
      containers:
        - name: test-repo-wc-streamer-backend
          image: <STREAMER BACKEND>
          imagePullPolicy: Always
          ports:
            - containerPort: 3001
---
apiVersion: v1
kind: Service
metadata:
  name: test-repo-wc-streamer-backend-service
  namespace: webcam
spec:
  ports:
    - port: 3001
      protocol: TCP
  selector:
    app: test-repo-wc-streamer-backend
---
# webcam visualizer
apiVersion: apps/v1
kind: Deployment
metadata:
  name: test-repo-wc-visualizer-backend-deployment
  namespace: webcam
spec:
  replicas: 1
  selector:
    matchLabels:
      app: test-repo-wc-visualizer-backend
  template:
    metadata:
      namespace: webcam
      labels:
        app: test-repo-wc-visualizer-backend
    spec:
      containers:
        - name: test-repo-wc-visualizer-backend
          image: <VISUALIZER BACKEND>
          imagePullPolicy: Always
          ports:
            - containerPort: 3001
---
apiVersion: v1
kind: Service
metadata:
  name: test-repo-wc-visualizer-backend-service
  namespace: webcam
spec:
  ports:
    - port: 3001
      protocol: TCP
      # targetPort: 3001 # pod port
  selector:
    app: test-repo-wc-visualizer-backend
---
# webcam frontend
apiVersion: apps/v1
kind: Deployment
metadata:
  name: test-repo-wc-frontend-deployment
  namespace: webcam
spec:
  replicas: 1
  selector:
    matchLabels:
      app: test-repo-wc-frontend
  template:
    metadata:
      namespace: webcam
      labels:
        app: test-repo-wc-frontend
    spec:
      containers:
        - name: test-repo-wc-frontend
          image: <FRONTEND>
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
---
apiVersion: v1
kind: Service
metadata:
  name: test-repo-wc-frontend-service
  namespace: webcam
spec:
  ports:
    - port: 3000
      protocol: TCP
  selector:
    app: test-repo-wc-frontend
# ingress
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: webcam-ingres
  namespace: webcam
  annotations:
    cert-manager.io/issuer: <CERT_ISSUER_NAME>
spec:
  ingressClassName: nginx
  rules:
    - host: <STREAMER_DOMAIN>
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: test-repo-wc-streamer-backend-service
                port:
                  number: 3001
    - host: <PLAYER_DOMAIN>
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: test-repo-wc-visualizer-backend-service
                port:
                  number: 3001
    - host: <FRONTEND_DOMAIN>
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: test-repo-wc-frontend-service
                port:
                  number: 3000
  tls:
    - secretName: <TLS_CERT_SECRET_NAME>
      hosts:
        - <STREAMER_DOMAIN>
        - <PLAYER_DOMAIN>
        - <FRONTEND_DOMAIN>
